---
import '../styles/global.css'
import '@fontsource/barlow/300.css'
import '@fontsource/barlow/700.css';
import settingStructure from '../images/accurx/ax-setting-structure.png';
import creationCrit from '../images/accurx/ax-workspace-crit.png';
import questionnaire from '../images/accurx/ax-questionnaire-2.png';
import onboardingFlow from '../images/accurx/ax-onboarding-flow.png';
import desktopSwitcher from '../images/accurx/ax-desktop-switcher.png';
import modalStyles from '../images/accurx/ax-modal-styles.png';
import accountSecurity from '../images/accurx/ax-account-security.png';
import workspaceList from '../images/accurx/ax-workspace-list.png';
import launchingWorkspaces from '../images/accurx/ax-launching-workspaces.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Simon Castillo</title>
	</head>
	<body>
        <main>
            <header>
                <nav class="top-nav">
                    <a href="/simon-castillo" class="home-link">Simon Castillo</a>
                </nav>
            </header>
            
            <div class="case-study-hero">
                <h1 class="primary-color heading-l">Collaborative workspaces</h1>
                <ul class="inline-list aligned-center">
                    <li>Accurx</li>
                    <li>My role: Product Designer</li>
                </ul>
            </div>
            <section class="centred-partial-width">
                <div class="quick-summary">
                    <h2 class="heading-s primary-color section-heading">Quick summary</h2>

                    <p>In Accurx, workspaces are where NHS healthcare professionals communicate with each other about patient care. My team was responsible for launching this key functionality and moving all users into workspaces.</p>
                    <p>I brought clarity to the product vision and, in collaboration with multiple teams, designed all of the UI pieces needed to make it a reality. I also worked on the practical aspects of the launch to minimise disruption and maximise uptake.</p>
                    
                    <p>
                        <a href="https://www.accurx.com/" target="_blank">View the Accurx website↗</a>
                    </p>
                </div>			
			</section>
            <section class="centred-partial-width">
                <h2 class="heading-m primary-color section-heading heading-m">Clarifying the big picture</h2>
                <p>When I first joined, a common question around the business was: ‘What exactly is a workspace?’. This was going to be a fundamental part of Accurx's offering, so to ensure we were all moving towards the same goal, I worked with stakeholders to build a clearer picture to share across teams.
                </p>
            </section>
            <div class="img-section">
                <figure class="img-container">
                    <img src={settingStructure.src} alt="Screenshot of online whiteboard showing how pharmacies and acute Trusts are structured." class="border-radius-s">
                    <figcaption class="body-xs caption-partial-width">I led meetings and workshops to understand how different parts of the healthcare system were expected to use workspaces. The goal was to see how our proposition aligned with their needs, processes and structures.</figcaption>
                </figure>
            </div>
            <div class="img-section">
                <figure class="img-container">
                    <img src={questionnaire.src} alt="Quotes from users saying what they think workspaces would be for." class="border-radius-s">
                    <figcaption class="body-xs caption-partial-width">I teamed up with user researchers to find out how users perceive the workspace concept. This influenced the team's strategic approach as well as the content throughout the designs.</figcaption>
                </figure>
            </div>
            <section class="centred-partial-width">
                <h2 class="heading-m primary-color section-heading heading-m">Designing the core functionality</h2>
                <p>After aligning on the vision, I worked on the practical design pieces needed. For example, allowing users to create workspaces, add people to them and self-manage them through different roles and permissions.</p>
                <p>Over several months, I continuously worked with user reseachers, developers, product and other stakeholders to add each piece.</p>                    
            </section>
            <div class="img-section">
                <figure class="img-container">
                    <img src={onboardingFlow.src} alt="A flow diagram of the Accurx onboarding journey." class="border-radius-s">
                    <figcaption class="body-xs caption-partial-width">Mapping existing onboarding flows to highlight where changes are needed.</figcaption>
                </figure>
            </div>
            <div class="img-section">
                <figure class="img-container">
                    <img src={creationCrit.src} alt="Screenshot of online whiteboard showing a design critique activity." class="border-radius-s">
                    <figcaption class="body-xs caption-partial-width">I held critiques for each new design piece, gaining feedback across disciplines and teams.</figcaption>
                </figure>
            </div>
            <section class="centred-partial-width">
                <h2 class="heading-m primary-color section-heading heading-m">Raising the bar for design quality</h2>
                <p>Throughout the project I shared designs and findings across the business and the wider design team. This led to new and improved components in our design system for things like navigation, statuses, active/inactive states and notifications.</p>          
            </section>
            <div class="two-column img-section">
                <figure class="img-container">
                    <img src={modalStyles.src} alt="Examples of inconsistent modal styles across the product." class="border-radius-s">
                    <figcaption class="body-xs">Resolving inconsistencies I found in the product, for example the different versions of modal shown here. I unified them into reusable components for the design system.</figcaption>
                </figure>
                <figure class="img-container">
                    <img src={desktopSwitcher.src} alt="The existing workspace switcher menu compared to the updated version I designed." class="border-radius-s">
                    <figcaption class="body-xs">Bringing simplicity, clarity and improved styling to every component. This is a redesign of one of the menus for switching between workspaces.</figcaption>
                </figure>
            </div>
            <div class="img-section">
                <figure class="img-container aligned-center">
                    <img src={accountSecurity.src} alt="Screenshots of an account security screen. This shows how 2 existing screens were merged into an improved design." class="border-radius-s">
                    <figcaption class="body-xs caption-partial-width">While the team added workspace functionality to different areas of the product, I took opportunities to improve existing flows.</figcaption>
                </figure>
            </div>
            <div class="img-section">
                <figure class="img-container">
                    <img src={workspaceList.src} alt="Screenshots of an early and later version of the workspace list screen." class="border-radius-s">
                    <figcaption class="body-xs caption-partial-width">A screen for joining and creating workspaces, which went through many iterations. As healthcare workers are under constant time pressure, I pushed for a simpler, more focused experience.</figcaption>
                </figure>
            </div>
            <section class="centred-partial-width">
                <h2 class="heading-m primary-color section-heading">Launching workspaces</h2>
                <p>The way a feature is rolled out is just as important as the feature itself. I collaborated on content and onboarding flows that help users move to a new way of working in Accurx.
                </p>          
            </section>
            <div class="img-section padding-bottom-eight">
                <figure class="img-container">
                    <img src={launchingWorkspaces.src} alt="Screenshots of designs that introduce workspace functionality. An example of an email and different modal components." class="border-radius-s">
                    <figcaption class="body-xs caption-partial-width">Multiple flows and tactics were used to achieve the end goal of moving all users into the correct workspaces.</figcaption>
                </figure>
            </div>
            <section class="centred-partial-width quick-summary">
                <h2 class="heading-s primary-color section-heading">View more of my work</h2>
                <ul>
                    <li>Ministry of Justice - <a href="/simon-castillo/disclosure-checker">when to disclose your criminal record</a></li>
                    <li>Ministry of Justice – <a href="/simon-castillo/intervention-finder">finding rehabilitative programmes for offenders</a>
                    </li>
                </ul>
            </section>
        </main>
        <footer class="aligned-center footer">
			<h2 class="body-l primary-color heading-m">Get in contact
            </h2>
            <p class="centered-partial-width">Feel free to get in touch with any queries or opportunities:
            </p>
			<ul class="inline-list">
				<li><a href="https://www.linkedin.com/in/castillosimon/" target="_blank">LinkedIn</a></li>
				<li><a href="mailto:simcast8@gmail.com" target="_blank">Email</a></li>
			</ul>
		</footer>

    </body>
</html>