---
import '../styles/global.css'
import '@fontsource-variable/funnel-display';
import '@fontsource-variable/space-grotesk';
import splash from '../images/game-on/go-splash.png';
import map from '../images/game-on/go-map.png';
import eventDetails from '../images/game-on/go-event-details.png';
import yourEvents from '../images/game-on/go-your-events.png';

import Footer from '../components/footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Simon Castillo</title>
        <script src="../scripts/scripts.js"></script>
        <script src="https://cdn.lottielab.com/s/lottie-player@1.x/player-web.min.js"></script>
	</head>
	<body>
        <main>
            <header>
                <nav class="top-nav">
                    <a href="/" class="home-link">Simon Castillo</a>
                </nav>
            </header>
            
            <div class="case-study-hero animate-glow-in animation-delay-1">
                <h1 class="heading-l ">UI Showcase</h1>
                <ul class="inline-list aligned-center">
                    <!-- <li>Accurx &nbsp;<a href="https://www.accurx.com/" target="_blank">(view site ↗)</a></li> -->
                    <!-- <li>Web and desktop app</li> -->
                    <!-- <li>My role: Product Designer</li> -->
                </ul>
            </div>

            <section>
                <h2 class="heading-m">GameOn Active</h2>
                <ul class="body-xs primary-color body-l label-list">
					<li class="label">iOS</li>
				</ul>
                <!-- <p class="body-s">Redesigning an app for organising sports meet-ups.</p> -->

            </section>

            <section></section>

            <section>

                <div class="img-inline-section">
                    <figure class="img-container">
                        <img src={splash.src} alt="Screenshot of online whiteboard showing how pharmacies and acute Trusts are structured." >
                    </figure>

                    <figure class="img-container">
                        <img src={map.src} alt="Screenshot of online whiteboard showing how pharmacies and acute Trusts are structured." >
                    </figure>

                    <figure class="img-container">
                        <img src={eventDetails.src} alt="Screenshot of online whiteboard showing how pharmacies and acute Trusts are structured." >
                    </figure>

                    <figure class="img-container">
                        <img src={yourEvents.src} alt="Screenshot of online whiteboard showing how pharmacies and acute Trusts are structured." >
                    </figure>
                </div>

            </section>
           
        </main>
        <Footer />

    </body>
</html>