---
import '../styles/global.css'
import '@fontsource/barlow/300.css'
import '@fontsource/barlow/700.css';
import profilePic from '../images/sc-bw.jpeg';
import rwLaptop from '../images/home/rw-laptop.png';
import axCover from '../images/home/ax-cover.png';
import adReport from '../images/home/ad-report.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Simon Castillo</title>
	</head>
	<body>
		<main>
			<div class="hero">
				<div class="staggered-heading">
					<h1 class="secondary-color heading-l">Simon Castillo</h1>
					<h2 class="primary-color heading-l">Digital Product Designer</h2>
				</div>
				<div class="centred-partial-width">
					<!-- <p class="aligned-center body-l">I design effective, user-friendly apps, digital services and websites.</p> -->
				
					<ul class="inline-list aligned-center">
						<li>Based in London</li>
						<li>8 years of experience</li>
						<li>Open to new opportunities</li>
					</ul>
				</div>
			</div>
			<section class="centred-partial-width">
				<h2 class="heading-s primary-color section-heading">A bit about me</h2>
				<img src={profilePic.src} alt="Profile picture of Simon." class="inset-image">
				<p class="body-l">I am a Product Designer with well-rounded knowledge of UX/UI best practice, accessibility, visual design and front-end development.
				</p>
				<p class="body-l">In the past 8 years, I've worked at a rapidly growing start-up as well as the public sector. Through my experience, I can confidently join teams and collaborate to deliver high-quality solutions.</p>
				<p class="body-l">Outside of work, my main hobby is hip-hop and house dance. I'm deeply passionate about it but not very good.</p>
			</section>
			<section class="padding-bottom-zero">
				<h2 class="heading-s primary-color section-heading">Selected work and experience</h2>

				<div class="two-column border-bottom">
					<div>
						<h3 class="heading-m">
							<span class="number">1</span><span class="primary-color">Accurx</span>
						</h3>
						<div class="padding-left-inset">
							<p class="body-l">Launching critical functionality at a series B funded healthcare scale-up.</p>
							<!-- <p class="body-l">Healthcare communication platform used by 98% of GP practices and 68% of NHS Trusts.</p> -->
							<!-- <p> -->
								<a href="/simon-castillo/accurx">View case study</a>
							<!-- </p> -->
						</div>
					</div>
					<div class="image-padding">
						<img src={axCover.src} alt="A screen showing the user's calculated results." class="border-radius-s">
					</div>
				</div>

				<div class="two-column border-bottom">
					<div>
						<h3 class="heading-m">
							<span class="number">2</span><span class="primary-color">Ministry of Justice</span>
						</h3>
						<div class="padding-left-inset">
							<p class="body-l">Digital tools to help past offenders to rehabilitate and officers to be more efficient.</p>
							<h4 class="heading-s primary-color">Key projects</h4>
							<ul>
								<li>When to disclose your criminal record: <a href="/simon-castillo/disclosure-checker">view case study</a></li>
								<li>
									Finding rehabilitative programmes: <a href="/simon-castillo/intervention-finder">view case study</a></li>
								<li>Internal app for officers to manage rule-breaking in prison</li>
							</ul>
						</div>
					</div>
					<div class="image-padding">
						<img src={adReport.src} alt="A screen showing the user's calculated results." class="border-radius-s">
					</div>
				</div>

				<div class="two-column padding-bottom-four">
					<div>
						<h3 class="heading-m">
							<span class="number">3</span><span class="primary-color">Home Office</span>
						</h3>
						<div class="padding-left-inset">
							<p class="body-l">Helping people to understand their status and rights in the UK.</p>
							<h4 class="heading-s primary-color">Key projects</h4>
							<ul>
								<li>Viewing and sharing your immigration status</li>
								<li>Proving your right to work in the UK</li>
								<li>Internal intelligence systems</li>
							</ul>
						</div>
					</div>
					<div class="image-padding">
						<img src={rwLaptop.src} alt="A screen showing the user's calculated results." class="border-radius-s">
					</div>
				</div>
			</section>
		</main>
		<footer class="aligned-center footer">
			<h2 class="body-l primary-color heading-m">Get in contact
            </h2>
            <p class="centered-partial-width">Feel free to get in touch with any queries or opportunities:
            </p>
			<ul class="inline-list">
				<li><a href="https://www.linkedin.com/in/castillosimon/" target="_blank">LinkedIn</a></li>
				<li><a href="mailto:simcast8@gmail.com" target="_blank">Email</a></li>
			</ul>
		</footer>
	</body>
</html>
