---
import '../styles/global.css'
import '@fontsource/barlow/300.css'
import '@fontsource/barlow/700.css';
import hmw from '../images/intervention-finder/fi-hmw.png';
import ideation from '../images/intervention-finder/fi-ideation.png';
import home from '../images/intervention-finder/fi-home.png';
import prisonerSearch from '../images/intervention-finder/fi-prisoner-search.png';
import results from '../images/intervention-finder/fi-results-cropped.png';
import programmeDetail from '../images/intervention-finder/fi-programme-detail.png';
import axCover from '../images/home/ax-cover.png';
import adReport from '../images/home/ad-report.png';
import peace from '../images/peace-2.svg';


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Simon Castillo - Finding rehabilitative programmes</title>
        <script src="../scripts/scripts.js"></script>
	</head>
	<body>
        <main>
            <header>
                <nav class="top-nav">
                    <a href="/" class="home-link">Simon Castillo</a>
                </nav>
            </header>
            
            <div class="case-study-hero animate-glow-in animation-delay-1">
                <h1 class="primary-color heading-l">Finding rehabilitative programmes</h1>
                <ul class="inline-list aligned-center">
                    <li>Ministry of Justice</li>
                    <li>Web app</li>
                </ul>
            </div>
            <section>
                <div class="centred-partial-width">
                    <div class="quick-summary animate-glow-in animation-delay-2">
                        <h2 class="heading-s primary-color section-heading">Quick summary</h2>
                        <p>The challenge here was to help probation practitioners find the right rehabilitation activities for a person in prison. For example, courses to address issues like substance abuse or managing relationships. I worked with a Service Designer to lead the team through a short design sprint and start the design phase.
                        </p>
                        <h3 class="heading-s primary-color">My key outcomes:</h3>
                            <ol>
                                <li>Worked with the existing team to analyse research and define the problems to be solved.</li>
                                <li>Led ideation workshops and built the first prototype.</li>
                                <li>Collaborated with a User Researcher to test the prototype, which received consistently positive feedback.</li>
                            </ol>
                    </div>			
                </div>
			</section>
            <section>
                <div class="centred-partial-width">
                    <h2 class="heading-m primary-color section-heading">Taking the team from discovery to analysis and design</h2>
                    <p>This design sprint included a review of discovery research, sessions defining scope, and ideation sessions. These helped to identify the key problems for the project:</p>
                    <ul>
                        <li>deciding which accredited programmes are suitable for a specific person's needs</li>
                        <li>checking that the person's schedule in prison aligns with the programme's dates</li>
                        <li>automating this process versus letting probation practitioners use their expert judgement</li>
                    </ul>
                </div>
                <div class="img-section">
                    <figure class="img-container">
                        <img src={hmw.src} alt="A digital whiteboard showing various opportunities for the project on post-its. They are grouped into themes." class="border-radius-s">
                        <figcaption class="body-xs caption-partial-width">Prioritising opportunities in the form of 'How might we' statements.</figcaption>
                    </figure>
                </div>
                <div class="img-section">
                    <figure class="img-container">
                        <img src={ideation.src} alt="A digital whiteboard with sketches and mock-ups of different people's ideas. There are also post-its describing each idea." class="border-radius-s">
                        <figcaption class="body-xs caption-partial-width">Leading a remote ideation session.</figcaption>
                    </figure>
                </div>
            </section>
            <section>
                <div class="centred-partial-width">
                    <h2 class="heading-m primary-color section-heading">High-fidelity prototyping and user research</h2>
                    <p>Taking the best ideas from the sprint, I built a prototype in Figma, which we tested with 7 probation practitioners and took through one round of iteration.</p>
                </div>
                <div class="two-column img-section">
                    <figure class="img-container">
                        <img src={home.src} alt="A mock-up of a landing page for the 'Search for an intervention' service." class="border-radius-s">
                        <figcaption class="body-xs">A high-fidelity design of the landing page for the service.</figcaption>
                    </figure>
                    <figure class="img-container">
                        <img src={prisonerSearch.src} alt="A mock-up of a page for searching for a specific prisoner by their number or personal details." class="border-radius-s">
                        <figcaption class="body-xs">Pulling in a prisoner's data automatically and comparing the details of their needs to what programmes offer.</figcaption>
                    </figure>
                </div>
                <div class="two-column img-section">
                    <figure class="img-container">
                        <img src={results.src} alt="A search results page with a list of programmes and an open filter menu. " class="border-radius-s">
                        <figcaption class="body-xs">Search results automatically matched to the person's needs and ordered by relevance.</figcaption>
                    </figure>
                    <figure class="img-container">
                        <img src={programmeDetail.src} alt="A page showing the details of a specific programme. It includes an overview, description and locations." class="border-radius-s">
                        <figcaption class="body-xs">Programme details with concise descriptions, nearby locations and links to start referring the person.</figcaption>
                    </figure>
                </div>
            </section>
            <section>
                <div class="centred-partial-width">
                    <h2 class="heading-m primary-color section-heading">Next steps</h2>
                    <aside>
                        <blockquote>
                            <p>
                                &#8220;I’m smiling because it looks like you’re giving me exactly what I want… We need this to do our job better.&#8221; &mdash; Prison Offender Manager 
                            </p>
                        </blockquote>
                    </aside>
                    <p>The prototype received positive feedback from all user research participants, with relatively small tweaks for the next version.</p>
                    <p>I moved to another project soon afterwards, but this was a good example of using a short design sprint to take a team quickly from discovery to initial solution.</p>
                </div>
            </section>
            <section>
                <div class="centred-partial-width">
                    <div class="quick-summary">
                        <h2 class="heading-s primary-color section-heading">View more of my work</h2>
                        <div class="quick-summary-section border-bottom">
                            <div>
                                <h3 class="heading-m primary-color">Accurx</h3>
                                <ul class="no-bullets">
                                    <li><a href="/accurx">Collaborative workspaces</a></li>                            
                                </ul>
                            </div>
                            <img src={axCover.src} alt="Two Accurx screens overlapping. One is a workspace list page and the other shows an inbox." class="border-radius-s">
                        </div>
                        <div class="quick-summary-section padding-top-two">
                            <div>
                                <h3 class="heading-m primary-color">Ministry of Justice</h3>
                                <ul class="no-bullets">
                                    <li><a href="/disclosure-checker">When to disclose your criminal record</a>
                                    </li>
                                </ul>
                            </div>
                            <img src={adReport.src} alt="Two Accurx screens overlapping. One is a workspace list page and the other shows an inbox." class="border-radius-s">
                        </div>
                    </div>
            </section>
        </main>
        <footer class="aligned-center footer">           
            <h2 class="primary-color heading-m">Get in contact
            </h2>          
                <div class="footer-text">
                    <p>Thanks for stopping by. Feel free to get in touch with any queries.</p>
                    <ul class="inline-list">
                        <li><a href="https://www.linkedin.com/in/castillosimon/" target="_blank">LinkedIn</a></li>
                        <li><a href="mailto:simcast8@gmail.com" target="_blank">Email</a></li>
                    </ul>
				<div class="footer-body">      
					<p class="body-xs">&copy; Simon Castillo 2025. Site hand-coded using HTML, CSS, JavaScript and Astro.</p>
                    <!-- <img src={peace.src} alt="A peace hand emoji." class="border-radius-s animate"> -->
					
                </div>
            </div>
		</footer>
    </body>
</html>