---
import '../styles/global.css'
import '@fontsource/barlow/300.css'
import '@fontsource/barlow/700.css';
import profilePic from '../images/sc-bw.jpeg';
import rwLaptop from '../images/home/rw-laptop.png';
import axCover from '../images/home/ax-cover.png';
import adReport from '../images/home/ad-report.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Simon Castillo</title>
		<script src="../scripts/scripts.js"></script>
	</head>
	<body>
		<main>
			<div class="hero">
				<div class="background-fill">
				</div>
					<div class="home-headings">
						<div class="dash-mask">
							<h1 class="secondary-color heading-l" id="sc-name">Simon Castillo</h1>
							<h2 class="primary-color heading-l" id="title">Product Designer</h2>
						</div>
					</div>
					<div class="centred-partial-width">				
						<ul class="inline-list aligned-center">
							<li>Based in London</li>
							<li>8 years of experience</li>
							<li>Open to new opportunities</li>
						</ul>
					</div>
				
			</div>
			<section>
				<div class="centred-partial-width">
					<h2 class="heading-s primary-color section-heading">A bit about me</h2>
					<img src={profilePic.src} alt="Profile picture of Simon." class="inset-image animate">
					<p class="body-l">I'm a Product Designer specialising in user interface design, with broad knowledge in UX methods, visual design and front-end development.
					</p>
					<p class="body-l">In the past 8 years, I've worked at a rapidly growing scale-up and two UK government departments, delivering key features for complex web apps and highly accessible public services.</p>
					<p class="body-l">Outside of work, my main hobby is hip-hop and house dance. I'm deeply passionate about it but not very good. I'm also a fan of old graphic design and good wayfinding.</p>
				</div>
			</section>
			<section class="project-list">
				<h2 class="heading-s primary-color section-heading margin-bottom-zero">Selected work and experience</h2>

				<div class="two-column project-section border-bottom">
					<div>
						<h3 class="heading-m">
							<span class="number">1</span><span class="primary-color">Accurx</span>
						</h3>
						<div class="padding-left-inset">
							<p class="body-l">Launching critical functionality at a series B funded healthcare scale-up.</p>
							<a href="/accurx">View case study</a>
						</div>
					</div>
					<div class="image-padding">
						<img src={axCover.src} alt="Two Accurx screens overlapping. One is a workspace list page and the other shows an inbox." class="border-radius-s animate">
					</div>
				</div>

				<div class="two-column project-section border-bottom">
					<div>
						<h3 class="heading-m">
							<span class="number">2</span><span class="primary-color">Ministry of Justice</span>
						</h3>
						<div class="padding-left-inset">
							<p class="body-l">Helping past offenders to rehabilitate and officers to be more efficient.</p>
							<h4 class="heading-s primary-color">Key projects</h4>
							<ul>
								<li>When to disclose your criminal record: <a href="/disclosure-checker">view case study</a></li>
								<li>
									Finding rehabilitative programmes: <a href="/intervention-finder">view case study</a></li>
								<li>Internal app for officers to manage rule-breaking in prison</li>
							</ul>
						</div>
					</div>
					<div class="image-padding">
						<img src={adReport.src} alt="A screen showing a hearing summary within HMPPS' digital prison services." class="border-radius-s animate">
					</div>
				</div>

				<div class="two-column project-section">
					<div>
						<h3 class="heading-m">
							<span class="number">3</span><span class="primary-color">Home Office</span>
						</h3>
						<div class="padding-left-inset">
							<p class="body-l">Helping people to understand their status and rights in the UK.</p>
							<h4 class="heading-s primary-color">Key projects</h4>
							<ul>
								<li>Viewing and sharing your immigration status</li>
								<li>Proving your right to work in the UK</li>
								<li>Internal intelligence systems</li>
							</ul>
						</div>
					</div>
					<div class="image-padding">
						<img src={rwLaptop.src} alt="A laptop screen showing a page about right to work on GOV.UK" class="border-radius-s animate">
					</div>
				</div>
			</section>
		</main>
		<footer class="aligned-center footer">
			<h2 class="primary-color heading-m">Get in contact
            </h2>
            <p class="centered-partial-width">Feel free to get in touch with any queries:
            </p>
			<ul class="inline-list">
				<li><a href="https://www.linkedin.com/in/castillosimon/" target="_blank">LinkedIn</a></li>
				<li><a href="mailto:simcast8@gmail.com" target="_blank">Email</a></li>
			</ul>
			<!-- <p class="body-xs">Portfolio coded using HTML, CSS, Astro and GitHub Pages.</p> -->
		</footer>
	</body>
</html>
